.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	background-color: #2D2F38;
	font-family: 'Lora', serif;
	color: #DDDCE0;
}

.title-image img  {
	width: 50%;
	display: block;
	margin: auto;
	padding: 20px;
}

.tab-content {
	width: 660 px;
	margin: 0 auto;
	text-align: center;
	display:none;
	padding: 20px;
}

#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	height: 2px; 
	background: red;
}


.nav-wrap { 
	margin: 50px auto;  
	width:350px;
	height:auto;
	border-color: white;
	text-align: center;
}

.menu {
	position: relative;
	width: 100%;
	padding: 0px;
}


.menu-item {
	display: inline;
	opacity: 0.5;
	
	width: 31.5%;
	padding: 0px;
}

/*.menu-item:hover {
	opacity: .9;
}*/

.footer {
	text-align: center;
	height: auto !important;
	height: 100%;
}
