.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	background-color: #2D2F38;
	font-family: 'Lora', serif;
	color: #DDDCE0;
}

.title-image img  {
	width: 50%;
	display: block;
	margin: auto;
	padding: 20px;
}

.tab-content {
	width: 660 px;
	margin: 0 auto;
	text-align: center;
	display:none;
	padding: 20px;
}

#tab-1 {
	display: block;
}

.menu {
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.menu-item {
	display: inline;
	font-size: 150%;
	opacity: 0.5
	padding: 10 px;;
}

/*.menu-item:hover {
	opacity: .9;
}*/

.footer {
	text-align: center;
	height: auto !important;
	height: 100%;
}
