.container {
	height: 100%;
	background-color: #2D2F38;
	font-family: 'Lora', serif;
	color: #DDDCE0;
}

.title-image img  {
	width: 50%;
	display: block;
	margin: auto;
}

.tab-content {
	width: 660 px;
	margin: 0 auto;
	text-align: center;
	display:none;
}

#tab-1 {
	display: block;
}

.menu {
	width: 50%;
	margin: auto;
	text-align: center;
}

.menu-item {
	display: inline;
	font-size: 150%;
	opacity: 0.5;
}

.menu-item:hover {
	opacity: .9;
}
